* {
	margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
body {
	position: absolute;
	height: 100%;
	width: 100%;
    overflow-x: hidden; 
}

/*------------- HEADER SLIDE -------------------------------------*/

header {
	position: absolute;
	display: block; 
	top: -13%; 
    height: 18%;
	width: 100%;
	z-index: 20;
	overflow: hidden;
}
.headerclass {
	transition: top 0.3s ease-in-out 0.51s;
}
.headerclass:hover {
	top: -6%;
}
#header_wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 210;
}

/*------------ HEADER CONTENT ---------------------------------------------------*/

#header_image {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border-width: thin;
	border-style: none none none inset;
	border-color: hsl(73, 18%, 32%);
	z-index: 220;
}
#header_navbar { 
	position: absolute;
	bottom:0px;
	left:0px;
	width: 53.8%;
	height: 20%;
	z-index: 240;
	padding: 0px 0px 0px 2%;
}
#header_navbar > ul {
	list-style-type: none;
	width: 100%;
}
#header_navbar > ul > li {
	display: inline;
	padding: 0px 3.5%;
}
#header_navbar > ul > li > a {
	display: inline;
	font-family: "Garamond", "Bauhaus 93";
    font-size: 22pt;
	vertical-align: top;
	line-height: 20pt;
	vertical-align: top;
	text-decoration: none;
}

#controls {
	z-index: 240;
	position: absolute;
	right: 0%;
	top: 0%;
	width: 46.2%;
	height: 100%; 
	font-family: "Sitka", "Courier New";
	font-size: 14pt;
	font-weight: 300;
	line-height: 16pt;  
	border-width: 5px;
	border-style: none none dashed dashed; 
	border-radius: 16px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#list_wrapper{
    position: absolute;
    width: 63%;
    height: 100%;
    top: 34%;
    left: 37%;
    background-color: hsl(342, 59%, 14%, 0.33);
    border-width: 11px;
    border-style: none none none outset;
    border-color: #824d11;
    font-family: "Agency FB", "Constantia";
    font-size: 19pt;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-indent: 5%;
    letter-spacing: 5pt;
    line-height: 19pt;
    vertical-align: super;
}
#list_wrapper > div{
    display: flex;
    height: 40px; 
    width: 150px;
    position: absolute; 
}
#list_wrapper > div > label{
    width: 300px;
    position: absolute; 
}
#layers_checkbox_wrapper{
    left: 4.4%; 
    top: 5.5%;
}
#table_checkbox_wrapper{ 
    left: 4.4%; 
    top: 25.5%;
}
#legend_checkbox_wrapper{ 
    left: 4.4%; 
    top: 45.5%; 
}
#print_checkbox_wrapper{  
    left: 40%; 
    top: 5.5%; 
}
#popup_checkbox_wrapper{
	left: 40%; 
	top: 25.5%; 
}

/*------------- RESIZE HANDLERS ----------------------------------*/ 

.resize_services_pane, .resize_table {
	touch-action: none; 
}

/* ------------ WRAPPER FOR MAIN & OTHER ELEMENTS ----------------------- */

#program_wrapper {
	position: absolute;
	top: 0%;
	height: 100%;
	width: 100%;
	z-index: 0; 
	overflow: hidden; 
}

/*--------------------- MAIN, MAPVIEW, & WIDGETS -----------------------------------*/

#program_wrapper > main {
	position: absolute;
	float: left;
	width: 100%;
	height: 100%;
	z-index: 0;
	border-width: 5px;
	border-style: none none double double;
	overflow: hidden;
}
#home_widget {
	position: absolute;
	top: 9%;
	left: 92px;
	z-index: 30;
}
#scalebar_widget{
    position: absolute;
	top: 19.6%;
	left: 3px;
	z-index: 30;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#zoom_widget {
	position: absolute;
	top: 9%;
	left: 144px;
	z-index: 30;
}
#toggle_widget {
	position: absolute;
	top: 9%;
	left: 3px;
	z-index: 30;
}
#legend_widget {
	position: absolute;
	top: 13%;
	right: 0.5%;
    z-index: 30; 
    display: none; 
}
#print_widget{
	position: absolute;
	top: 17%;
	right: 0.5%;
    z-index: 30;
    overflow: hidden; 
    display: none; 
}
#search_widget {
	position: absolute; 
	top: 6.76%;
	right: 0.5%; 
	z-index: 30;
}
#mapview {
	width: 100%;
	height: 100%;
	z-index: 10;
}

/*--------------------- SERVICES PANE  ------------------------------------------*/

#services_pane{
	touch-action: none; 
	position: absolute;
	left: 5px;
	top: 23.6%;
	width: 177px;
	height: 42%;
	z-index: 200;
	font-family: "Perpetua Titling MT", "Bradley Hand ITC";
	font-size: 20pt;
	font-weight: 100; 
	font-style: italic;
	line-height: 14px; 
	text-align: left;
	text-indent: 6%;
	vertical-align: text-top; 
	border-width: thin;
	border-style: dashed dashed dashed none;
	border-radius: 0px 6px 6px 0px;
	overflow: hidden; 
}
#services_pane > div {
	z-index: 300;
	position: absolute;
	top: 120px;
	width: 100%;
	text-decoration: underline; 
	font-weight: 400;
}
#service_selector, #service_input {
	z-index: 300;
	position: absolute;	
	left: 4%;
	font-size: 16pt;
	font-weight: normal;
	line-height: 16pt;
	text-align: left;
	border-width: 2px;
	border-style: dotted;
	border-radius: 5px;
	font-family: "Bush Script MT", "Baskerville Old Face";
}
#service_selector{
	top: 75px;
	width: 91%;
}
#service_input{ 
	top: 40px;
	width: 90%;
}

.minmax_services_button{
	position: absolute;
	display: inline-block; 
	right: -1px;
	top: -1px;
	width: 32px; 
	height: 32px; 
	z-index: 300;
	border-width: thin;
	border-style: dashed dashed none none;
	border-radius: 0px 6px 0px 0px;
}

/*------------- ATTRIBUTE TABLE ----------------------------------*/ 
#lower_panel_wrapper{
	position: absolute; 
	bottom: 0;
	width: 80.2%; 
	height: 35px; 
	z-index: 400;
	overflow-y: scroll; 
	border-width: 6px; 
	border-style: solid solid none solid; 
	border-radius: 8px 8px 0px 0px;
	touch-action: none; 
	display: none; 
}
#attribute_table_wrapper{
	padding: 35px 0px 0px 0px;
	width: 66.8%;
	height: 100%; 
	z-index: 410;
	overflow-Y: scroll;
	position: absolute;  
	display: block; 
}
#attribute_table{ 
	position: relative;
	float: left; 
	z-index: 430;
	width: 100%; 
	font-family: "Gill Sans MT", "Gadugi";
	font-size: 15pt;
	font-weight: normal;
	font-style: italic;
	text-align: justify;
	text-align-last: left;
	text-indent: 5%;
	letter-spacing: 0pt;
	word-spacing: 0pt;
	line-height: 21pt;
} 
#table_error_div{
	display: none; 
	position: absolute; 
	top: 14%; 
	left: 18%; 
	width: 64%;
	z-index: 4000; 
	font-family: "MS Gothic", "Edwardian Script ITC";
	font-size: 28pt;
	font-weight: 900;
	font-style: normal;
	text-align: center;
	text-indent: 6%;
	letter-spacing: 0pt;
	word-spacing: 0pt;
	line-height: 30pt;
	vertical-align: top;
	text-decoration: none;
	color: rgb(182, 68, 64);
}
#geoprocessing_pane{
	font-family: "Calisto MT", "Jokerman";
	font-size: 18pt;
	font-weight: normal;
	font-style: normal;
	text-indent: 4%;
	letter-spacing: 0pt;
	word-spacing: 0pt;
	line-height: 46pt;
	text-decoration: underline;
	width: 33%;
	height: 100%;
	position: absolute; 
	float: right; 
	right: 0%;
	bottom: 0%;
	display: block; 
}
.geoprocessing_checkboxes{
	position: relative; 
	display: inline-block; 
	width: 14px; 
	height: 14px; 
}
.geoprocessing_icons{
	position: relative; 
	display: inline-block; 
	width: 25px; 
	height: 25px;
	border-style: inset; 
	border-width: thin;
}
#mouse_selector_pane{
	display: none; 
	position: absolute; 
}
#intersection_panel{
	display: none; 
	position: absolute; 
}
#table_menu{
	height: 30px; 
	width: 66.8%;
	z-index: 430; 
	display: block;
	position: absolute; 
	top: 0;
	left: 0;
	overflow: hidden; 
}
#attribute_selector{
	width: 93px;
	height: 30px; 
	left: 40px;
	top: 0px;
	position: absolute;
	display: inline-block;
}
#results_per_page{
	display: inline-block; 
	position: absolute; 
	height: 30px; 
	left: 138px; 
	top: 6px; 
}
.minmax_table_button{
	position: absolute;
	display: inline-block; 
	left: -1px;
	top: -1px;
	width: 32px; 
	height: 32px; 
	z-index: 440;
}
#min_table_button{
	display: none; 
}
#page_numbers{
	position: absolute; 
	display: inline-block; 
	left: 254px; 
	height: 30px; 
	display: flex; 
	flex-wrap: nowrap; 
	overflow: hidden; 
	border-style: none none none solid; 
	border-width: thick;
}
#advanced_search_button{
	width: 81px;
	height: 30px; 
	left: 722px;
	top: 0px;
	position: absolute;
	display: inline-block;
}

/* -------------- ASIDES ------------------------ */
.popup_buttons{
	z-index: 500;
	position: absolute; 
	display: block; 
}
.popups{
	border-width: 3px;
	border-style: groove; 
	border-radius: 8px;
	font-family: "Microsoft Sans Serif", "Perpetua";
	font-size: 19pt;
	font-weight: normal;
	font-style: normal;
	text-indent: 3%;
	letter-spacing: 0pt;
	word-spacing: 0pt;
	line-height: 24pt; 
	text-decoration: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden; 
	top: 32%; 
	left: 43%;
	width: 320px; 
	height: 170px; 
	position: absolute; 
	display: none; 
}
.close_box_button{
	position: absolute; 
	display: block; 
	top: -3px;
	left: -3px;
	width: 32px;
	height: 32px;
}
/************** SEARCH BOX **********************/ 
#searchbox_label{
	top: 4%;
	left: 0px;
	width: 100%; 
	text-align: center; 
	overflow: hidden; 
	z-index: -20; 
	white-space: nowrap;
}
#search_selector{
	top: 22%;
	left: 8%;
}
#SQL_input_D{
	top: 40%;
	left: 8%;
	width: 33%;
}
#submit_search_button{
	top: 58%; 
	left: 8%;
}
#search_error_div{
	position: absolute; 
	top: 70%; 
	left: 7%; 
	width: 84%; 
	height: 30%;
	overflow-x: hidden;  
	font-family: "Parchment", "Freestyle Script";
	font-size: 37pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0pt;
	word-spacing: 0pt;
	color: hsl(145, 40%, 53%);
}
/***************INTERSECT PANEL************************************/
#intersectbox_label{
	top: 0%;
	left: 0px;
	white-space: nowrap;
	width: 100%; 
	text-align: center; 
	overflow: hidden; 
	z-index: -20; 
}
#intersect_select_A{
	top: 25%; 
	left: 8%; 
	width: 32%; 
}
#intersect_select_B{
	top: 25%; 
	right: 16%;
	width: 32%; 
}
#SQL_input_A{
	top: 41%; 
	left: 8%; 
	width: 40%; 
}
#SQL_input_B{
	top: 41%; 
	right: 8%; 
	width: 40%; 
}
#intersect_submit_button{
	top: 56%; 
	left: 8%; 
}
#intersect_error_div{
	top: 67%; 
	left: 8%; 
	width: 84%; 
	height: 33%;
	overflow-x: hidden;
	font-family: "Parchment", "Freestyle Script";
	font-size: 37pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0pt;
	word-spacing: 0pt;
	color: hsl(145, 40%, 53%);
}

/************************BUFFER PANEL*****************************************/

#bufferbox_label{
	top: 0%;
	left: 0px;
	white-space: nowrap;
	width: 100%; 
	text-align: center; 
	overflow: hidden; 
	z-index: -20; 	
}
#buffer_select_layer{
	top: 25%; 
	left: 8%; 
	width: 32%; 
}
#SQL_input_C{
	top: 41%; 
	left: 8%; 
	width: 40%; 	
}
#buffer_distance_select{
	top: 25%; 
	right: 8%; 
	width: 32%; 
}
#buffer_distance_textbox{
	top: 41%; 
	left: 60%; 
	width: 23%;	
}
#buffer_submit_button{
	top: 56%; 
	left: 60%; 	
}
#buffer_error_div{
	top: 67%; 
	left: 8%; 
	width: 84%; 
	height: 33%;
	overflow-x: hidden;
	font-family: "Parchment", "Freestyle Script";
	font-size: 37pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0pt;
	word-spacing: 0pt;
	color: hsl(145, 40%, 53%);
}

/********************************* HEATMAP PANEL ***********************************************/ 

#heatmapbox_label{
	top: 0%;
	left: 0px;
	white-space: nowrap;
	width: 100%; 
	text-align: center; 
	overflow: hidden; 
	z-index: -20;
}
#heatmap_select_layer{
	top: 22%; 
	left: 16%; 
	width: 40%; 
}

#blur_label{
	top: 35%; 
	left: 16%; 
	white-space: nowrap;
	width: 40%; 
	text-align: left; 
	font-size: 12pt;
	overflow: hidden; 
	z-index: -20;
}
#blur_range_div{
	position: absolute; 
	display: block; 
	top: 35%; 
	left: 38%;
	height: 40px; 
	width: 40%; 
}
#blur_range{
	width: 100%;
}

#intensity_label{
	top: 49%; 
	left: 16%; 
	white-space: nowrap;
	width: 40%; 
	text-align: left;
	font-size: 12pt;  
	overflow: hidden; 
	z-index: -20;
}
#intensity_range_div{
	position: absolute; 
	display: block; 
	top: 49%; 
	left: 38%;
	height: 40px; 
	width: 40%; 
}
#intensity_range{	 
	width: 100%
}
#heatmap_submit_button{
	bottom: 15%; 
	right: 5%; 	
}
#heatmap_error_div{
	bottom: 0%; 
	left: 5%; 
	width: 72%; 
	height: 36%;
	overflow-x: hidden;
	font-family: "Parchment", "Freestyle Script";
	font-size: 37pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0pt;
	word-spacing: 0pt;
	color: hsl(145, 40%, 53%);
}

#layers_grid{
	position: absolute; 
	display: grid;
	grid-gap: 0px;  
	grid-template-rows: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px auto;
	z-index: 300;
	font-size: 12pt;
	width: 100%;
	left: 0%; 
	top: 20%; 
	height: 1000px;  
}